{% extends 'base.html' %}
{% block title %}医生详情页{% endblock %}
{% block head %}
	<link rel="stylesheet" href="#">
{% endblock %}

{% block main %}
	

<h1>{{ doctor.name }}</h1>
<span>{{ doctor.name_en }}</span>
<div class="row">
  <div class="col-md-8">
  	<p>{{ doctor.college }}</p>
  	<p>{{ doctor.hospital }}</p>
  </div>
  <div class="col-md-4">
  	<img src="/media/{{ doctor.face }}" alt="{{ doctor.name }}头像" class="avatar">
  </div>
</div>



<div>



{% endblock main %}


{% block js %}


{% endblock %}
